h1 {
  text-align: center;
}
nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #e3e3ea;
  text-align: center;
}

nav {
  text-align: center;
}

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px%;
}

figcaption {
  text-align: center;
}

  section#featured-property {
    width: 900px;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
  }


div.footer{
  float: left;
  width: 25%;
  text-align: center;
  background-color: red;
}


